html, body{
    margin: 0px;
    padding: 0px;
    font-family: Raleway;
    font-size: 18px;
    background-color: rgb(245, 245, 245);
    box-sizing: border-box;
    color: grey;
}

.rechts{
    background-color: white;
    box-shadow: 2px 5px 8px #b3b3b3;
    width: 450px;
    height: 1100px;;
    margin-left: 14vw;
    margin-top: 15px;
    position: relative;
}

.rechts img{
    width: 100%;
    height: 300px;
}

.rechts h1{
    font-size: 30px;
    position: absolute;
    top: 230px;
    left: 20px;
    font-weight: 500;
    color: white;
}

.fas{
    color: rgb(53, 172, 241);
    margin-top: 10px;
}

a{
    text-decoration: none;
    color: grey;
}

.text{
    color: grey;
    font-family: Raleway;
    margin: 20px;
    font-size: 18px;
    font-weight: 400;
}

a:hover{
    color: rgb(100, 100, 100);
}

i{
    width: 150px;
    height: 25px;
}

.fas{
    font-size: 16px;
    margin-bottom: 10px;
}

.fa-envelope{
    margin-left: 20px;
}

.fa-home{
    margin-left: 18.5px;
}

.fa-briefcase{
    margin-left: 19.5px;
    margin-top: 20px;
}

.fa-mobile{
    margin-left: 23.5px;
}

.mobile{
    margin-left: 23.5px;
}

.home{
    margin-left: 18px;
}

.heading{
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-family: Raleway;
    margin-left: 20px;
    font-size: 20px;
}

.bruch{
    height: 1px;
    width: 90%;
    margin: 20px auto;
    background-color: lightgrey;
}

.skilltext{
    font-weight: 400;
    font-size: 16px;
}

.sprachentext{
    font-weight: 400;
    font-size: 16px;
}

.bar{
    width: 95%;
    height: 18px;
    background-color: lightgrey;
    border-radius: 18px;
}

.prozentms{
    width: 70%;
    height: 18px;
    background-color: rgb(53, 172, 241);
    border-radius: 18px;
}

.prozentms > p{
    font-size: 16px;
    margin-left: 150px;
}

.prozenthtml{
    width: 90%;
    height: 18px;
    background-color: rgb(53, 172, 241);
    border-radius: 18px;
}

.prozenthtml > p{
    font-size: 16px;
    margin-left: 190px;
}

.prozentcss{
    width: 85%;
    height: 18px;
    background-color: rgb(53, 172, 241);
    border-radius: 18px;
}

.prozentcss > p{
    font-size: 16px;
    margin-left: 180px;
}

.prozentjs{
    width: 20%;
    height: 18px;
    background-color: rgb(53, 172, 241);
    border-radius: 18px;
}

.prozentjs > p{
    font-size: 16px;
    margin-left: 25px;
}

.sprachen{
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-family: Raleway;
    margin-left: 20px;
    font-size: 20px;
    margin-top: 30px;
}

.deutsch{
    width: 100%;
    height: 18px;
    background-color: rgb(53, 172, 241);
    border-radius: 18px;
}

.english{
    width: 90%;
    height: 18px;
    background-color: rgb(53, 172, 241);
    border-radius: 18px;
}

.arbeit{
    background-color: white;
    box-shadow: 2px 5px 8px #b3b3b3;
    width: 860px;
    height: 565px;;
    margin-top: 15px;
    margin-right: 14vw;
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px 20px;
}

.bildung{
    background-color: white;
    box-shadow: 2px 5px 8px #b3b3b3;
    width: 860px;
    height: 470px;
    margin-top: 35px;
    margin-right: 14vw;
    position: absolute;
    right: 0;
    top: 595px;
    padding: 20px 20px;
}

.uberschrift
{
    font-family: Raleway;
    color: rgb(95, 95, 95);
    font-size: 28px;
    font-weight: 600;
    margin-left: 20px;
}

.fa-suitcase, .fa-certificate{
    font-size: 35px;
}

.arbeit2, .bildung2{
    padding-left: 13px;
    padding-top: 30px;
}

.job{
    font-size: 18px;
    color: rgb(100, 100, 100);
}

.para{
    padding-bottom: 30px;
}

.datum{
    color: rgb(53, 172, 241);
    font-family: Raleway;
    font-size: 18px;
}

.fa-calendar-alt {
    width: 25px;
    height: 25px;
    margin: 0px;
}

.arbeit2 > p, .bildung > p{
    font-size: 18px;
    font-weight: 500;
    color: black;
}

.current{
    width: 100px;
    height: 30px;
    background-color: rgb(53, 172, 241);
    color: white;
    border-radius: 5px;
    padding: 2px 7px;
}

footer{
    width: 100%;
    height: 120px;
    margin-top: 35px; 
    background-color: rgb(53, 172, 241);
    color: white;
    font-size: 14px;
    text-align: center;
    padding-top: 22px;
}

footer > p{
    margin-top: 5px;
}

.fab{
    width: 25px;
    height: 25px;
    color: white;
    font-size: 14px;
    margin: 5px 0;
}

.fa-github:hover{
    color: #333;
}

.fa-twitter:hover{
    color: #38A1F3;
}

.fa-instagram:hover{
    color: #231F20;
}